* {
    box-sizing: border-box;
}

body {
    margin: 0px;

    background-color: rgb(30, 11, 100);
    /* background-image: url(https://media.istockphoto.com/photos/dark-blue-defocused-blurred-motion-abstract-background-picture-id1138740533?k=20&m=1138740533&s=612x612&w=0&h=FykYIpI-3UJhFLFw_7PAKt0y3RZITE6Tz3kxwPFITDE=);
    background-repeat: no-repeat;
    background-size: 150%; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

header h1 {
    text-align: 30%;
    font-size: 70px;
    padding: 20px;
    font-size: 400%;
    font-weight: 750;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 0 5px 5px rgb(0, 0, 0);
}

/* #ebook{
    background-image: url(https://media.istockphoto.com/photos/dark-blue-defocused-blurred-motion-abstract-background-picture-id1138740533?k=20&m=1138740533&s=612x612&w=0&h=FykYIpI-3UJhFLFw_7PAKt0y3RZITE6Tz3kxwPFITDE=);
    background-repeat: no-repeat;
    background-size: 100%;
} */

header {
    padding: 40px;
    background: url(https://cdn1.vectorstock.com/i/1000x1000/00/45/computer-programming-camp-concept-banner-header-vector-24930045.jpg);
    background-size: cover;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
}

nav {
    background-color: #333;
    overflow: hidden;
}

nav a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
    text-shadow: 0 2px 2px rgb(0, 0, 0);
}



main {
    background-color: rgb(255, 255, 255);
    
    text-align: center;
    background-image: url("pictures/circle-scatter-haikei\ \(4\).svg");
    /* background-repeat: no-repeat; */
    /* background-size: contain; */
    /* background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,83,255,1) 0%, rgba(0,0,0,1) 100%, rgba(0,60,105,1) 100%); */
    text-align: center;
    
}

h2 {
    padding: 20px;
    font-size: 400%;
    font-weight: 750;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(19, 111, 250);
    text-shadow: 0 5px 5px rgb(0, 35, 51);
}

h3{
    color: rgb(0, 68, 128);
    /* text-shadow: 0 2px 1px rgb(0, 0, 0); */
}

h4{
    color: rgb(0, 67, 126);
    /* text-shadow: 0 2px 1px rgb(0, 0, 0); */
}

section:nth-child(even) {
    background-color: rgb(164, 114, 230);
    background-image: url(https://media.istockphoto.com/photos/dark-blue-defocused-blurred-motion-abstract-background-picture-id1138740533?k=20&m=1138740533&s=612x612&w=0&h=FykYIpI-3UJhFLFw_7PAKt0y3RZITE6Tz3kxwPFITDE=);
    background-repeat: no-repeat;
    background-size: 100%;
}

section {
    min-height: 100vh;
    background-image: url(https://media.istockphoto.com/photos/dark-blue-defocused-blurred-motion-abstract-background-picture-id1138740533?k=20&m=1138740533&s=612x612&w=0&h=FykYIpI-3UJhFLFw_7PAKt0y3RZITE6Tz3kxwPFITDE=);
    background-repeat: no-repeat;
    background-size: 100%;
}

video {
    
    padding: 3px;
    margin: 10px;
    background-color: transparent;
    border: 2px solid rgb(212, 202, 202);
    /* block-size: 300px; */
    height: 18rem;
    width: 30%;
    box-shadow:0 10px 8px  rgb(0, 0, 0) ;
    border-radius: 30px;
}

iframe {
    height: 75vh;
    margin: 10px;
    border: 2px solid rgb(255, 255, 255);
    block-size: 300px;
    box-shadow:0 10px 8px  rgba(0, 0, 0, 1) ;
    border-radius: 30px;
}


img {
    padding: 2px;
    border: 3px solid rgb(255, 255, 255);
    margin: 10px;
    height: 23rem;
    width: 24%;
    box-shadow:0 10px 8px  rgba(0, 0, 0, 1) ;
    border-radius: 30px;
}



hr{

    margin-top: 10rem;
    width: 70%;
    /* align-items: center; */
}



section h5 {
    margin: 40px;
    background-image: url(https://media.istockphoto.com/photos/dark-blue-defocused-blurred-motion-abstract-background-picture-id1138740533?k=20&m=1138740533&s=612x612&w=0&h=FykYIpI-3UJhFLFw_7PAKt0y3RZITE6Tz3kxwPFITDE=);
    background-repeat: no-repeat;
    background-size: 100%;
    color: rgb(0, 122, 230);
}

footer {
    background-color: #333;
    overflow: hidden;
    text-shadow: 0 2px 2px rgb(0, 0, 0);
}

footer a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: rgb(255, 255, 255);
}
a{
    color: rgb(0, 0, 0);
}
h5{
    color: rgba(1, 32, 88, 1);
    /* text-shadow: 0 2px 1px rgb(0, 0, 0); */
    border: 2px white;
    border-radius: 20px;
    border-style: groove;
    padding: 1%;
    text-align: center;
}